html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#rightpane {
    float: right;
    width: 90%;
    height: 100%;
}
#map {
    width: 100%;
    height: 70%;

}
#lowerpane {
    margin: 15px;
    float: bottom;
    height: 30%;
}
#lowerleft {
    float: left;
    width: 50%;
    height: 100%;
}
#lowerright {
    float: right;
    width: 50%;
    height: 100%;
}
.run {
    margin: 3px;
    background-color: #F0F0F0;
    border: 1px solid black;
    border-radius: 3px;
}
.runlarge {
    width: 110px;
    display: inline-block; 
    text-align: right;
}
.runthin {
    width: 80px;
    display: inline-block;
    text-align: right;
}
#preview
{
    height: 200px;
    overflow: auto;
    float: left;
    position: relative;
    margin-left: 5px;
}
#stats {
    float: left;
    width:34%;
}
#speedcurve {
    float: right;
    width:33%;
}
#elevationcurve {
    float: right;
    width:33%;
}
#filelist {
    height: 100%;
    width:10%;
    float: left;
    overflow: auto;
    cursor: pointer;
}
.year_list {
    display: none;
}
